canvas {
    position: absolute;
    left: 0;
    top: 0;
}

body {
    overflow: hidden;
    background: #ededed;
    margin: 0;
    padding: 0;
    font-family: arial;
}
p {
    margin: 15px 0px;
}
#interface {
    width: 250px;
    position: absolute;
    border: 0px solid black;
    padding: 40px;
    box-sizing: border-box;
    color: #222;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 0px 10px #999;
}

input[type="range"] {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: silver;
    height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #666;
    width: 10px;
    height: 26px;
}

input[type="button"] {
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #ff2948;
    border: 0px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

input {
    border: 0px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    padding: 0px;

    margin-top: 0px;
}

select {
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;

    width: 100%;
}
a {
    color: #ff2948;
    font-weight: 700;
}

input[type="text"] {
    width: 100%;
    font-family: sans-serif;
    font-size: 30px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: 0px;
    border-bottom: 2px solid #ff2948;
    text-align: center;
}
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
        inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
