* {
    margin: 0;
    padding: 0;
}
.text {
    width: 300px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #000;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    font-size: 0;
}
a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #2274b2;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-family: serif;
    line-height: 50px;
    text-decoration: none;
    border-radius: 10px;
    box-sizing: border-box;
}
.text:hover a span {
    text-shadow: 1px 1px 3px #2274b2, 2px 2px 3px #2274b2, 3px 3px 3px #2274b2,
        4px 4px 3px #2274b2, 5px 5px 3px #2274b2, 6px 6px 3px #2274b2,
        7px 7px 3px #2274b2, 8px 8px 3px #2274b2, 9px 9px 3px #2274b2;
    transition: text-shadow 0.8s;
}
.text a span {
    text-shadow: none;
    transition: text-shadow 0.5s;
}
.text:hover a {
    background: linear-gradient(135deg, #55acee 0%, #2274b2 100%);
}
